.mytheme .v-absolutelayout {
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	border-width: 1px;
	padding: 5px;
	margin: 3px;
	background: white;
}

.mytheme .v-gridlayout {
	background: #F5F5F2;
}

.mytheme .v-select-configselect {
	background: white;
	border-width: 1px;
	border-radius: 2px;
	padding-left: 2px;
	margin-right: -2px;
}

.mytheme .v-formlayout-captioncell {
	text-align: left;
}

.mytheme .v-formlayout-row {
	padding-bottom: 10px;
}

.mytheme .v-touchkit-navbar .v-button .v-icon {
	font-size: x-large;
}

.mytheme .Error {
	color: red !important;
}

.mytheme .Warning {
	color: orange !important;
}